.venv
__pycache__
modified

# draft posts will be suffixed like the following
# we don't want them in version control, or they'll
# get pushed to the deployment
*.draft.html
# html and modified files created for testing will be
# written here
test_output