.dark pre { line-height: 125%; }
.dark td.linenos .normal { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
.dark span.linenos { color: #6e7681; background-color: #0d1117; padding-left: 5px; padding-right: 5px; }
.dark td.linenos .special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.dark span.linenos.special { color: #c9d1d9; background-color: #6e7681; padding-left: 5px; padding-right: 5px; }
.dark .codehilite .hll { background-color: #6e7681 }
.dark .codehilite { background: #0d1117; color: #c9d1d9;  padding: 1em; border: 3px solid var(--primary)}
.dark .codehilite .c { color: #8b949e; font-style: italic } /* Comment */
.dark .codehilite .err { color: #f85149 } /* Error */
.dark .codehilite .esc { color: #c9d1d9 } /* Escape */
.dark .codehilite .g { color: #c9d1d9 } /* Generic */
.dark .codehilite .k { color: #ff7b72 } /* Keyword */
.dark .codehilite .l { color: #a5d6ff } /* Literal */
.dark .codehilite .n { color: #c9d1d9 } /* Name */
.dark .codehilite .o { color: #ff7b72; font-weight: bold } /* Operator */
.dark .codehilite .x { color: #c9d1d9 } /* Other */
.dark .codehilite .p { color: #c9d1d9 } /* Punctuation */
.dark .codehilite .ch { color: #8b949e; font-style: italic } /* Comment.Hashbang */
.dark .codehilite .cm { color: #8b949e; font-style: italic } /* Comment.Multiline */
.dark .codehilite .cp { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Preproc */
.dark .codehilite .cpf { color: #8b949e; font-style: italic } /* Comment.PreprocFile */
.dark .codehilite .c1 { color: #8b949e; font-style: italic } /* Comment.Single */
.dark .codehilite .cs { color: #8b949e; font-weight: bold; font-style: italic } /* Comment.Special */
.dark .codehilite .gd { color: #ffa198; background-color: #490202 } /* Generic.Deleted */
.dark .codehilite .ge { color: #c9d1d9; font-style: italic } /* Generic.Emph */
.dark .codehilite .gr { color: #ffa198 } /* Generic.Error */
.dark .codehilite .gh { color: #79c0ff; font-weight: bold } /* Generic.Heading */
.dark .codehilite .gi { color: #56d364; background-color: #0f5323 } /* Generic.Inserted */
.dark .codehilite .go { color: #8b949e } /* Generic.Output */
.dark .codehilite .gp { color: #8b949e } /* Generic.Prompt */
.dark .codehilite .gs { color: #c9d1d9; font-weight: bold } /* Generic.Strong */
.dark .codehilite .gu { color: #79c0ff } /* Generic.Subheading */
.dark .codehilite .gt { color: #ff7b72 } /* Generic.Traceback */
.dark .codehilite .g-Underline { color: #c9d1d9; text-decoration: underline } /* Generic.Underline */
.dark .codehilite .kc { color: #79c0ff } /* Keyword.Constant */
.dark .codehilite .kd { color: #ff7b72 } /* Keyword.Declaration */
.dark .codehilite .kn { color: #ff7b72 } /* Keyword.Namespace */
.dark .codehilite .kp { color: #79c0ff } /* Keyword.Pseudo */
.dark .codehilite .kr { color: #ff7b72 } /* Keyword.Reserved */
.dark .codehilite .kt { color: #ff7b72 } /* Keyword.Type */
.dark .codehilite .ld { color: #79c0ff } /* Literal.Date */
.dark .codehilite .m { color: #a5d6ff } /* Literal.Number */
.dark .codehilite .s { color: #a5d6ff } /* Literal.String */
.dark .codehilite .na { color: #c9d1d9 } /* Name.Attribute */
.dark .codehilite .nb { color: #c9d1d9 } /* Name.Builtin */
.dark .codehilite .nc { color: #f0883e; font-weight: bold } /* Name.Class */
.dark .codehilite .no { color: #79c0ff; font-weight: bold } /* Name.Constant */
.dark .codehilite .nd { color: #d2a8ff; font-weight: bold } /* Name.Decorator */
.dark .codehilite .ni { color: #ffa657 } /* Name.Entity */
.dark .codehilite .ne { color: #f0883e; font-weight: bold } /* Name.Exception */
.dark .codehilite .nf { color: #d2a8ff; font-weight: bold } /* Name.Function */
.dark .codehilite .nl { color: #79c0ff; font-weight: bold } /* Name.Label */
.dark .codehilite .nn { color: #ff7b72 } /* Name.Namespace */
.dark .codehilite .nx { color: #c9d1d9 } /* Name.Other */
.dark .codehilite .py { color: #79c0ff } /* Name.Property */
.dark .codehilite .nt { color: #7ee787 } /* Name.Tag */
.dark .codehilite .nv { color: #79c0ff } /* Name.Variable */
.dark .codehilite .ow { color: #ff7b72; font-weight: bold } /* Operator.Word */
.dark .codehilite .pm { color: #c9d1d9 } /* Punctuation.Marker */
.dark .codehilite .w { color: #6e7681 } /* Text.Whitespace */
.dark .codehilite .mb { color: #a5d6ff } /* Literal.Number.Bin */
.dark .codehilite .mf { color: #a5d6ff } /* Literal.Number.Float */
.dark .codehilite .mh { color: #a5d6ff } /* Literal.Number.Hex */
.dark .codehilite .mi { color: #a5d6ff } /* Literal.Number.Integer */
.dark .codehilite .mo { color: #a5d6ff } /* Literal.Number.Oct */
.dark .codehilite .sa { color: #79c0ff } /* Literal.String.Affix */
.dark .codehilite .sb { color: #a5d6ff } /* Literal.String.Backtick */
.dark .codehilite .sc { color: #a5d6ff } /* Literal.String.Char */
.dark .codehilite .dl { color: #79c0ff } /* Literal.String.Delimiter */
.dark .codehilite .sd { color: #a5d6ff } /* Literal.String.Doc */
.dark .codehilite .s2 { color: #a5d6ff } /* Literal.String.Double */
.dark .codehilite .se { color: #79c0ff } /* Literal.String.Escape */
.dark .codehilite .sh { color: #79c0ff } /* Literal.String.Heredoc */
.dark .codehilite .si { color: #a5d6ff } /* Literal.String.Interpol */
.dark .codehilite .sx { color: #a5d6ff } /* Literal.String.Other */
.dark .codehilite .sr { color: #79c0ff } /* Literal.String.Regex */
.dark .codehilite .s1 { color: #a5d6ff } /* Literal.String.Single */
.dark .codehilite .ss { color: #a5d6ff } /* Literal.String.Symbol */
.dark .codehilite .bp { color: #c9d1d9 } /* Name.Builtin.Pseudo */
.dark .codehilite .fm { color: #d2a8ff; font-weight: bold } /* Name.Function.Magic */
.dark .codehilite .vc { color: #79c0ff } /* Name.Variable.Class */
.dark .codehilite .vg { color: #79c0ff } /* Name.Variable.Global */
.dark .codehilite .vi { color: #79c0ff } /* Name.Variable.Instance */
.dark .codehilite .vm { color: #79c0ff } /* Name.Variable.Magic */
.dark .codehilite .il { color: #a5d6ff } /* Literal.Number.Integer.Long */
