.booberry pre { line-height: 125%; }
.booberry td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.booberry span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.booberry td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.booberry span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.booberry .codehilite .hll { background-color: #ffffcc }
.booberry .codehilite { background: #f8f8f8; padding: 1em; border: 3px solid var(--primary)}
.booberry .codehilite .c { color: #8f5902; font-style: italic } /* Comment */
.booberry .codehilite .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.booberry .codehilite .g { color: #000000 } /* Generic */
.booberry .codehilite .k { color: #204a87; font-weight: bold } /* Keyword */
.booberry .codehilite .l { color: #000000 } /* Literal */
.booberry .codehilite .n { color: #000000 } /* Name */
.booberry .codehilite .o { color: #ce5c00; font-weight: bold } /* Operator */
.booberry .codehilite .x { color: #000000 } /* Other */
.booberry .codehilite .p { color: #000000; font-weight: bold } /* Punctuation */
.booberry .codehilite .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.booberry .codehilite .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.booberry .codehilite .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.booberry .codehilite .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.booberry .codehilite .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.booberry .codehilite .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.booberry .codehilite .gd { color: #a40000 } /* Generic.Deleted */
.booberry .codehilite .ge { color: #000000; font-style: italic } /* Generic.Emph */
.booberry .codehilite .gr { color: #ef2929 } /* Generic.Error */
.booberry .codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.booberry .codehilite .gi { color: #00A000 } /* Generic.Inserted */
.booberry .codehilite .go { color: #000000; font-style: italic } /* Generic.Output */
.booberry .codehilite .gp { color: #8f5902 } /* Generic.Prompt */
.booberry .codehilite .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.booberry .codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.booberry .codehilite .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.booberry .codehilite .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.booberry .codehilite .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.booberry .codehilite .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.booberry .codehilite .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.booberry .codehilite .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.booberry .codehilite .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.booberry .codehilite .ld { color: #000000 } /* Literal.Date */
.booberry .codehilite .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.booberry .codehilite .s { color: #4e9a06 } /* Literal.String */
.booberry .codehilite .na { color: #c4a000 } /* Name.Attribute */
.booberry .codehilite .nb { color: #204a87 } /* Name.Builtin */
.booberry .codehilite .nc { color: #000000 } /* Name.Class */
.booberry .codehilite .no { color: #000000 } /* Name.Constant */
.booberry .codehilite .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.booberry .codehilite .ni { color: #ce5c00 } /* Name.Entity */
.booberry .codehilite .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.booberry .codehilite .nf { color: #000000 } /* Name.Function */
.booberry .codehilite .nl { color: #f57900 } /* Name.Label */
.booberry .codehilite .nn { color: #000000 } /* Name.Namespace */
.booberry .codehilite .nx { color: #000000 } /* Name.Other */
.booberry .codehilite .py { color: #000000 } /* Name.Property */
.booberry .codehilite .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.booberry .codehilite .nv { color: #000000 } /* Name.Variable */
.booberry .codehilite .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.booberry .codehilite .pm { color: #000000; font-weight: bold } /* Punctuation.Marker */
.booberry .codehilite .w { color: #f8f8f8 } /* Text.Whitespace */
.booberry .codehilite .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.booberry .codehilite .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.booberry .codehilite .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.booberry .codehilite .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.booberry .codehilite .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.booberry .codehilite .sa { color: #4e9a06 } /* Literal.String.Affix */
.booberry .codehilite .sb { color: #4e9a06 } /* Literal.String.Backtick */
.booberry .codehilite .sc { color: #4e9a06 } /* Literal.String.Char */
.booberry .codehilite .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.booberry .codehilite .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.booberry .codehilite .s2 { color: #4e9a06 } /* Literal.String.Double */
.booberry .codehilite .se { color: #4e9a06 } /* Literal.String.Escape */
.booberry .codehilite .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.booberry .codehilite .si { color: #4e9a06 } /* Literal.String.Interpol */
.booberry .codehilite .sx { color: #4e9a06 } /* Literal.String.Other */
.booberry .codehilite .sr { color: #4e9a06 } /* Literal.String.Regex */
.booberry .codehilite .s1 { color: #4e9a06 } /* Literal.String.Single */
.booberry .codehilite .ss { color: #4e9a06 } /* Literal.String.Symbol */
.booberry .codehilite .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.booberry .codehilite .fm { color: #000000 } /* Name.Function.Magic */
.booberry .codehilite .vc { color: #000000 } /* Name.Variable.Class */
.booberry .codehilite .vg { color: #000000 } /* Name.Variable.Global */
.booberry .codehilite .vi { color: #000000 } /* Name.Variable.Instance */
.booberry .codehilite .vm { color: #000000 } /* Name.Variable.Magic */
.booberry .codehilite .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
