.gruvbox pre { line-height: 125%; }
.gruvbox td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.gruvbox span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
.gruvbox td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.gruvbox span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.gruvbox .codehilite .hll { background-color: #3c3836 }
.gruvbox .codehilite { background: #f9f5d7; padding: 1em; border: 3px solid var(--primary)}
.gruvbox .codehilite .c { color: #928374; font-style: italic } /* Comment */
.gruvbox .codehilite .err { color: #f9f5d7; background-color: #9d0006 } /* Error */
.gruvbox .codehilite .k { color: #9d0006 } /* Keyword */
.gruvbox .codehilite .n { color: var(--grey-dark) }
.gruvbox .codehilite .nx { color: var(--grey-dark) }
.gruvbox .codehilite .p { color: var(--grey-dark) }
.gruvbox .codehilite .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
.gruvbox .codehilite .cm { color: #928374; font-style: italic } /* Comment.Multiline */
.gruvbox .codehilite .c-PreProc { color: #427b58; font-style: italic } /* Comment.PreProc */
.gruvbox .codehilite .cp { color: #928374; font-style: italic } /* Comment.Preproc */
.gruvbox .codehilite .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
.gruvbox .codehilite .c1 { color: #928374; font-style: italic } /* Comment.Single */
.gruvbox .codehilite .cs { color: #3c3836; font-weight: bold; font-style: italic } /* Comment.Special */
.gruvbox .codehilite .gd { color: #f9f5d7; background-color: #9d0006 } /* Generic.Deleted */
.gruvbox .codehilite .ge { font-style: italic } /* Generic.Emph */
.gruvbox .codehilite .gr { color: #9d0006 } /* Generic.Error */
.gruvbox .codehilite .gh { color: #3c3836; font-weight: bold } /* Generic.Heading */
.gruvbox .codehilite .gi { color: #f9f5d7; background-color: #79740e } /* Generic.Inserted */
.gruvbox .codehilite .go { color: #32302f } /* Generic.Output */
.gruvbox .codehilite .gp { color: #7c6f64 } /* Generic.Prompt */
.gruvbox .codehilite .gs { font-weight: bold } /* Generic.Strong */
.gruvbox .codehilite .gu { color: #3c3836; text-decoration: underline } /* Generic.Subheading */
.gruvbox .codehilite .gt { color: #9d0006 } /* Generic.Traceback */
.gruvbox .codehilite .kc { color: #9d0006 } /* Keyword.Constant */
.gruvbox .codehilite .kd { color: #9d0006 } /* Keyword.Declaration */
.gruvbox .codehilite .kn { color: #9d0006 } /* Keyword.Namespace */
.gruvbox .codehilite .kp { color: #9d0006 } /* Keyword.Pseudo */
.gruvbox .codehilite .kr { color: #9d0006 } /* Keyword.Reserved */
.gruvbox .codehilite .kt { color: #9d0006 } /* Keyword.Type */
.gruvbox .codehilite .m { color: #8f3f71 } /* Literal.Number */
.gruvbox .codehilite .s { color: #79740e } /* Literal.String */
.gruvbox .codehilite .na { color: #b57614 } /* Name.Attribute */
.gruvbox .codehilite .nb { color: #af3a03 } /* Name.Builtin */
.gruvbox .codehilite .nc { color: #427b58 } /* Name.Class */
.gruvbox .codehilite .no { color: #8f3f71 } /* Name.Constant */
.gruvbox .codehilite .nd { color: #9d0006 } /* Name.Decorator */
.gruvbox .codehilite .ne { color: #9d0006 } /* Name.Exception */
.gruvbox .codehilite .nf { color: #427b58 } /* Name.Function */
.gruvbox .codehilite .nn { color: #427b58 } /* Name.Namespace */
.gruvbox .codehilite .nt { color: #427b58 } /* Name.Tag */
.gruvbox .codehilite .nv { color: #076678 } /* Name.Variable */
.gruvbox .codehilite .ow { color: #9d0006 } /* Operator.Word */
.gruvbox .codehilite .mb { color: #8f3f71 } /* Literal.Number.Bin */
.gruvbox .codehilite .mf { color: #8f3f71 } /* Literal.Number.Float */
.gruvbox .codehilite .mh { color: #8f3f71 } /* Literal.Number.Hex */
.gruvbox .codehilite .mi { color: #8f3f71 } /* Literal.Number.Integer */
.gruvbox .codehilite .mo { color: #8f3f71 } /* Literal.Number.Oct */
.gruvbox .codehilite .sa { color: #79740e } /* Literal.String.Affix */
.gruvbox .codehilite .sb { color: #79740e } /* Literal.String.Backtick */
.gruvbox .codehilite .sc { color: #79740e } /* Literal.String.Char */
.gruvbox .codehilite .dl { color: #79740e } /* Literal.String.Delimiter */
.gruvbox .codehilite .sd { color: #79740e } /* Literal.String.Doc */
.gruvbox .codehilite .s2 { color: #79740e } /* Literal.String.Double */
.gruvbox .codehilite .se { color: #af3a03 } /* Literal.String.Escape */
.gruvbox .codehilite .sh { color: #79740e } /* Literal.String.Heredoc */
.gruvbox .codehilite .si { color: #79740e } /* Literal.String.Interpol */
.gruvbox .codehilite .sx { color: #79740e } /* Literal.String.Other */
.gruvbox .codehilite .sr { color: #79740e } /* Literal.String.Regex */
.gruvbox .codehilite .s1 { color: #79740e } /* Literal.String.Single */
.gruvbox .codehilite .ss { color: #79740e } /* Literal.String.Symbol */
.gruvbox .codehilite .bp { color: #af3a03 } /* Name.Builtin.Pseudo */
.gruvbox .codehilite .fm { color: #427b58 } /* Name.Function.Magic */
.gruvbox .codehilite .vc { color: #076678 } /* Name.Variable.Class */
.gruvbox .codehilite .vg { color: #076678 } /* Name.Variable.Global */
.gruvbox .codehilite .vi { color: #076678 } /* Name.Variable.Instance */
.gruvbox .codehilite .vm { color: #076678 } /* Name.Variable.Magic */
.gruvbox .codehilite .il { color: #8f3f71 } /* Literal.Number.Integer.Long */
