{% include "head.html.j2" %}
{% include "nav.html.j2" %}
<article class="blog-post-container">
    <p>:*0(</p>
    <p>I'm sorry, I can't find that page. I swear it won't happen again</p>
    <p class="smalltext">please don't hurt me</p>
</article>