<!DOCTYPE html>
<html>

{% include "head.html.j2" %}

<body>
    {% from "nav.html.j2" import navbar %}
    {{ navbar(active_page="about") }}
    <div class="container-main">
        <picture>
            <!-- Not sure if I wanna go all out with other versions of the image now -->
            <img id="profile-pic" class="roll-in-left" src="/assets/images/jj_profile.webp">
        </picture>
        <article class="container-article">
            <h1 class="text-header">About Me</h1>
            <p>My name is Jon Johnson. I'm a cat father, coffee fan, casual meme enjoyer, and software developer. I spent roughly 10 years working in music, mostly in and around music publishing, before moving into development back in 2018. In my freetime, I love working on different ways to express myself creatively through tech, playing games, and catching up on whatever reality show is big at the moment (though don't hold it against me).</p>
            <h1 class="text-header">Resume/CV</h1>
            <div class="about-resume-container">
                <div class="about-resume-header">
                    <h2 class="about-resume-title">JON JOHNSON</h2>
                    <p>GitHub: www.github.com/jonjohnsontc | LinkedIn: www.linkedin.com/in/jonjohnsontc</p>
                </div>
                <h3 class="about-resume-title">CORE COMPETENCIES</h3>
                <p>AWS, Python, Clojure(script), PostgreSQL, Javascript, Docker, Spark, Git, Agile, Jira</p>
                <h3 class="about-resume-title">PROFESSIONAL EXPERIENCE</h3>
                <div class="about-resume-title-container">
                    <p>Nielsen, Hollywood, CA</p>
                    <p>2019 - Present</p>
                </div>
                <p>Software Engineer</p>
                <ul class="about-resume-job-facts">
                    <li>Full stack contributor on single page web application designed to serve predictions
                        to clients in real-time </li>
                    <li>Build microservice to gather features based on user input and serve predictions to
                        users of the web application </li>
                    <li>Build out web UI using Reagent (a clojurescript wrapper of React), based on renders
                        provided by UX team</li>
                    <li>Migrate Continuous Integration (CI) infrastructure from Jenkins to GitLab </li>
                    <li>Help build REST API to allow microservices to communicate with another, and users to
                        communicate with the backend</li>
                    <li>Manage deployments through Kubernetes’ kubectl</li>
                </ul>
                <div class="about-resume-title-container">
                    <p>Nielsen, Hollywood, CA</p>
                    <p>2018 - 2019</p>
                </div>
                <p>Senior Product Analyst</p>
                <ul class="about-resume-job-facts">
                    <li>Built and maintained a dashboard designed to serve detailed viewership data to
                        clients</li>
                    <li>Helped build out robust ETL pipelines, primarily utilizing Spark.</li>
                    <li>Conducted market share analysis of record label recordings in Spark, utilizing
                        cosine similarity to match tracks between provider data.</li>
                    <li>Constructed a web scraper using AWS Lambda to concurrently scrape thousands of
                        webpages at any given time.</li>
                    <li>Presented coding work &amp; new technologies to co-workers through “coding club”
                        discussions &amp; AWS working group.</li>
                </ul>
                <div class="about-resume-title-container">
                    <p>General Assembly, Los Angeles, CA</p>
                    <p>2018</p>
                </div>
                <p>Remote Instruction Assistant - Python Course</p>
                <ul class="about-resume-job-facts">
                    <li>Helped teach relative coding newcomers the basics of Python in a 40hr PT course. The
                        curriculum included basic object-oriented concepts (classes, state, objects, etc),
                        as well as data analysis using the Scipy stack (primarily NumPy and Pandas). </li>
                    <li>Assisted students by answering questions during class on Slack and providing
                        guidance on the course’s final project.</li>
                </ul>
            </div>
        </article>
    </div>
    <script src="/script.js"></script>
</body>