{# Blog page template #}
<!DOCTYPE html>
<html>
{% include "head.html.j2" %}

<body>
    {% from "nav.html.j2" import navbar %}
    {{ navbar(active_page="blog") }}
    <section class="blog-post-container">
        <article class="blog-post-content container">
            <h1 class="blog-title">{{ title }}</h1>
            <h5 class="blog-subtitle">Published on: {{ date }}</h5>
            {{ post }}
            {% include "footer.html.j2" %}
        </article>
    </section>
    <script src="/script.js"></script>
</body>

</html>