{#
Head element in every page
Ideally, I'd like to set any values in this template through content page data
(i.e., a markdown file)
#}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> {{ title }} ~ jons.gay </title>
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/styles.css">
    {% if code %}
    <link rel="stylesheet" href="/codehilite-styles.css">
    {% endif %}
</head>