<!DOCTYPE html>
<html>
{% include "head.html.j2" %}

<body>
    <div class="app">
        {% from "nav.html.j2" import navbar %}
        {{ navbar(active_page="blog") }}
        <div class="container-blog">
            <div class="blog-hero">
                <div class="column blog-column">
                    <h1>Blog</h1>
                </div>
                <div class="column blog-column">
                    <h2>Standard issue blog fare served fresh</h2>
                </div>
            </div>
        </div>
        <div class="container-blog">
            {% for post in posts %}
            <div class="blog-list-box">
                <ul>
                    <li class="blog-list-date">{{ post.date }}</li>
                    <li class="blog-list-title">
                        <a href={{ post.path }}>{{ post.title }}</a>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="/script.js"></script>
</body>

</html>